/* Reset some default margin and padding for the body and container */
body, #container {
    margin: 0;
    padding: 0;
    background-color: rgb(5, 1, 44);
    color: white;
}

/* Basic styling for the header-1 */
.header-1 {
    width: 100%; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Header background color */
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
    display: flex;
    justify-content: center; /* Align content to both ends */
    align-items: center; /* Center align items vertically */
}

/* Flexbox layout for the header-1 content */
.header-1-nav {
    display: flex;
    flex-direction: row; /* Display items in a row */
    gap: 40px; /* Gap between each element */
    align-items: center; /* Center align items vertically */
}

/* Apply some basic styles to the buttons */

.header-1-nav-btn-login {
    /* background: blue;
    color: black;
    border: 0 none;
    cursor: pointer;
    margin: 0 none;
    padding: 5px 15px; */
    
    /* margin-right: 20px; */
    padding: 5px 15px;
    background: #5ba545;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}


.header-1-nav-btn-signup {
    background-color: blue;
    color: white;
    border: none;
    /* padding: 10px 15px; */
    cursor: pointer;
    margin-right: 20px;
}



.header-1-nav button:last-child {
    margin-left: auto; /* Pushes the buttons to the right */
}


#header-2{
    width: 300px;
    height: 300px;
    color: white;
    margin-left: 100px;
    margin-top: 80px;
}

.header-2-button{
    color: aqua;
    background-color: rgb(141, 0, 0);
}


#header-3{
    color: white;
    margin-left: 100px;
    background-color: black
}
  /* #header-3,
 features{
    width: 85%;
    height: 400px;
    /* border: 1px white; */
    /* border-radius: 5px ;
    margin-left: 100px;
    border: 1px solid white;
    padding: 50px;
} */


/* #header-3, */
.header-3-box{
    width: 80%;
    margin-left: 0px;
    height: 400px;
    border: 1px white;
    border-radius: 5px ;
    /* margin-left: 100px; */
    border: 1px solid white;
    /* padding: 50px; */
    align-items: center;
    /* margin: auto; */
    
}

.header-3-features{
   display: flex;
}

.header-3-features-text{
    width: 50%;
}