.container-page-1{
    background-color: rgb(9, 0, 15);
    color: white;
    font-family: Sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 10px;
}

#weather-options
{
    width:100%;
    text-align: center;
}

.your-weather,
.search-weather {
    display: inline-block;
    margin: 0 100px; /* Add a margin of 10px on both sides of the buttons */
}

button {
    padding: 5px 15px;
    background:  rgb(90, 149, 184);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}


button:hover {
    background: rgb(97, 97, 99);
}

/* Change color to blue when clicked */
button:active {
    background: rgb(76, 76, 99);
}

#search-bar{
    background-color: aquamarine;
    color: black;
    width: 80px;
    height: 15px;

    align-items: center;
    display: flex;
}

 #search-container{
    width: 80px;
    height: 10px;
    background-color: green;
    color: black;
    width: 80px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;
    max-width: 400px;

  }

  /* Style for the search bar container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    width: 300px; 
    margin: 50px auto;
}

/* Style for the search input box */
.search-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 380px;
    width: 300px; 
}

/* Style for the search icon */
 .search-icon {
    padding: 5px;
    flex-shrink: 0;
} 


#details_from_api{
    align-items: center;
    text-align: center;
    display: block;
    color: wheat;
}
  

#details_from_api
.location_of_place{
    color: wheat;
}
 

#other_weather_info_container_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

#other_weather_info_container_boxes
.box1,
.box2,
.box3{
    height: 100px;
    width: 140px;
    background-color: rgb(185, 152, 207);
    color: #fff;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
}

/* #location_logo{
    align-items: center;
    text-align: center;
    padding: 80px 10px 10px 30px;
    color: rgb(14, 147, 156);
}

.location_logo_text{
    color: white;
}
#location_submit_btn{
    background-color: rgb(8, 20, 175);
}

#location_submit_btn:hover {
    background: rgb(74, 99, 136);
}  */

/* Change color to blue when clicked */
/* #location_submit_btn:active {
    background: rgb(105, 116, 155);
} */
