#main_set{
    background-color: rgb(1, 3, 5);
    color: white;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}

#main-heading-text{
    align-items: center;
    text-align: center;
    display: inline-block;
    text-align: center;
}


.discription-third-section-1,
.buttons-flex{
    display: flex;
    border-color: black;
}